<%- include('partials/header', { title: post.title + ' - Your Blog' }) %>
  <h1><%= post.title %></h1>
  <div class="post-content">
    <%- post.content %>
  </div>
  <a href="/">Back to Home</a>
<%- include('partials/footer') %>
