<!DOCTYPE html>
<html>
<head>
    <title>Node.js Blog - Post <%= postId %></title>
</head>
<body>
    <h1>Post <%= postId %></h1>
    <p>This is the content of blog post <%= postId %>.</p>
    <a href="/">Back to Home</a>
</body>
</html>
