name: Deploy EC2 App

on:
  push:
    branches:
      - main

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Configure AWS
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: us-east-2

      - name: Terraform Init & Apply
        working-directory: terraform
        run: |
          terraform init
          terraform apply -auto-approve

      - name: Run Ansible playbook
        run: |
          EC2_IP=$(terraform -chdir=terraform output -raw ec2_public_ip)
          ansible-playbook ansible/playbook.yml -i "$EC2_IP," --private-key ~/.ssh/ec2_my_key_pair.pem -u ubuntu
