<!DOCTYPE html>
<html>
<head>
  <title>ToDo List</title>
</head>
<body>
  <h1>ToDo List</h1>
  <ul>
    <% tasks.forEach(function(task) { %>
      <li><%= task.task %></li>
      <form action="/completeTask" method="post">
        <input type="hidden" name="id" value="<%= task.id %>">
        <input type="submit" value="Complete">
      </form>
    <% }); %>
  </ul>
  <form action="/addTask" method="post">
    <input type="text" name="task" placeholder="Add a new task" required>
    <input type="submit" value="Add Task">
  </form>
</body>
</html>
