extends layout 

block content 
    main.container 
        h1= title 
        form(action=`/edit/${task.id}` method="POST")
            label(for="title") nuevo Titulo de la tarea
            input(type="text" id="title" name="title", value=task.title required)
            button(type="submit" class="edit-button") Editar 
        a(href="/" class="back-button") volver 